<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/jquery-2.0.0.min.js"></script>
    <script>
        $(document).ready(function(){
            var url = $("#url").val();

        });
    </script>
</head>
<body>
<p>
访问地址：<input type="text" id="url" style="width: 80%" value="http://139.196.81.229:8088/NewFinsoftCrm3WX/index?t=1556262341870">
<p>
次数：<input type="text" id="number" style="width: 80%" value="10000">
<p><button type="button">开始访问</button>
</body>
</html>